<h2 class="title">Tiquete de Cobro</h2>
<hr>
<div class="wrapper">
  <div class="box a title">
    <label class="sub_title">Valor a pagar</label>
    <div>
      <label class="value"> $ 5000</label>
    </div>
  </div>
  <div class="box b ticket">
    <div>Placa: 
      <label (mandando)="reciveData($event)">{{ message }}</label>
    </div>
    <div>
      <label>Hora Entrada:</label>
      <label>14:00</label>
    </div>
    <div>
      <label>Hora Salida:</label>
      <label>14:00</label>
    </div>
  </div>
</div>
<br>
<div>
    <button class="btn btn-primary center-block " (click)="onClick($event)">Cobrar</button>
</div>
