.mat-dialog {
    border: 1px solid #015249;
}

.mat-dialog-title {
    text-align: center;
    font-family: 'Georgia', sans-serif;
    font-size: 1.8em;
    color: white;
    padding-top: 2%;
    height: 15%;
    background-color:  #015249;
    -webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 5px 6px 3px rgba(0,0,0,0.1);
}
.mat-dialog-content {
    font-size: 1.4em;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 5px 6px 3px rgba(0,0,0,0.1);
}

.mat-raised-button {
    font-size: 1.4em;
    font-family: 'Georgia', sans-serif;
    color: white;
    margin-left: 40%;
    margin-right: 30%;
    background-color:  #015249;
}

