<div class="tab">
  <button class="tablinks car" (click)="tabVehicle('car')"></button>
  <button class="tablinks bike" (click)="tabVehicle('bike')"></button>
</div>

<div id="car" class="tabcontent">
  <form [formGroup]="form">
    <h2 class="title">Ingresar Carro</h2>
    <hr>
    <div class="form-group">
      <mat-input-container >
        <input matInput placeholder="Placa" 
        #licenseCar 
        formControlName="license" 
        type="text" 
        pattern="[a-zA-Z ]{3}[0-9]{3}"
        class="form-control">
      </mat-input-container>
      <mat-error *ngIf="license.touched && license.invalid">
        <mat-error *ngIf="license.errors.required">Ingresar la placa.</mat-error>
        <mat-error *ngIf="license.errors.minlength">La licencia es de maximo 6 caracteres {{ license.errors.minlength.requiredLength}}</mat-error>
        <mat-error *ngIf="license.errors.maxlength">La licencia es de maximo 6 caracteres {{ license.errors.maxlength.requiredLength}}</mat-error>
        <mat-error *ngIf="license.errors.cannotContainSpace">La placa no puede contener espacios</mat-error>
      </mat-error>
      <br>
      <br>
      <button mat-raised-button color="primary"
      [disabled]="form.invalid"
      (click)="enterCar(licenseCar)">Ingresar</button>
    </div>
  </form>
</div>

<div [hidden]="!active" id="bike" class="tabcontent">
  <form [formGroup]="form">
    <h2 class="title">Ingresar Moto</h2>
    <hr>
    <div class="form-group">
      <mat-input-container>
        <input matInput placeholder="Placa" 
        #licenseBike 
        formControlName="license" 
        type="text" 
        class="form-control">
      </mat-input-container>
      <mat-error *ngIf="license.touched && license.invalid">
        <mat-error *ngIf="license.errors.required">Ingresar la placa.</mat-error>
        <mat-error *ngIf="license.errors.minlength">La licencia es de maximo 6 caracteres {{ license.errors.minlength.requiredLength}}</mat-error>
        <mat-error *ngIf="license.errors.maxlength">La licencia es de maximo 6 caracteres {{ license.errors.maxlength.requiredLength}}</mat-error>
        <mat-error *ngIf="license.errors.cannotContainSpace">La placa no puede contener espacios</mat-error>
      </mat-error>
      <br>
      <mat-input-container>
        <input matInput placeholder="Cilindraje" 
        #engine 
        formControlName="engine" 
        type="number" 
        class="form-control">
      </mat-input-container>
      <mat-error *ngIf="engine.touched && engine.invalid">
        <mat-error *ngIf="engine.errors.required">Ingresar el cilindraje.</mat-error>
        <mat-error *ngIf="engine.errors.minlength">El cilindraje es de maximo 6 caracteres {{ engine.errors.minlength.requiredLength}}</mat-error>
        <mat-error *ngIf="engine.errors.maxlength">El cilindraje es de maximo 6 caracteres {{ engine.errors.maxlength.requiredLength}}</mat-error>
        <mat-error *ngIf="engine.errors.cannotContainSpace">La placa no puede contener espacios</mat-error>
      </mat-error>
      <br />
      <br >
      <button mat-raised-button color="primary"
      [disabled]="form.invalid"
      (click)="enterBike(licenseBike, engine)">Ingresar</button>
    </div>
  </form>
</div>
