<div class="tab">
  <button class="tablinks car" (click)="tabVehicle('car')"></button>
  <button class="tablinks bike" (click)="tabVehicle('bike')"></button>
</div>

<div id="car" class="tabcontent">
  <form [formGroup]="form">
    <h2 class="title">Ingresar Carro</h2>
    <hr>
    <div class="form-group">
      <label for="license" class="title items">Placa</label>
      <input #licenseCar type="text" class="form-control">
      <br />
      <button class="btn btn-primary center-block "
      (click)="enterCar(licenseCar)">Ingresar</button>
    </div>
  </form>
</div>

<div [hidden]="!active" id="bike" class="tabcontent">
  <form [formGroup]="form">
    <h2 class="title">Ingresar Moto</h2>
    <hr>
    <div class="form-group">
      <label for="license" class="title items">Placa</label>
      <input #licenseBike type="text" class="form-control">
      <br>
      <label for="license" class="title items">Cilindraje</label>
      <input #cc type="number" class="form-control">
      <br />
      <button class="btn btn-primary center-block "
      (click)="enterBike(licenseBike, cc)">Ingresar</button>
    </div>
  </form>
</div>
